{% extends 'base.html' %}

{% block content %}
<h1>Sneaker List</h1>

<h3>Adidas</h3>
{% for sneaker in sneakers %}
{% if sneaker.brand == 'Adidas' %}
<div class="card">
    <a href="{% url 'detail' sneaker.id %}">
        <div class="card-content">
            <span class="card-title">{{ sneaker.brand }} {{ sneaker.model }}</span>
            <p>Colorway: {{ sneaker.colorway }}</p>
            <p>Year: {{ sneaker.year }}</p>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}

<h3>Air Jordan</h3>
{% for sneaker in sneakers %}
{% if sneaker.brand == 'Jordan' %}
<div class="card">
    <a href="{% url 'detail' sneaker.id %}">
        <div class="card-content">
            <span class="card-title">{{ sneaker.brand }} {{ sneaker.model }}</span>
            <p>Colorway: {{ sneaker.colorway }}</p>
            <p>Year: {{ sneaker.year }}</p>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}

<h3>New Balance</h3>
{% for sneaker in sneakers %}
{% if sneaker.brand == 'New Balance' %}
<div class="card">
    <a href="{% url 'detail' sneaker.id %}">
        <div class="card-content">
            <span class="card-title">{{ sneaker.brand }} {{ sneaker.model }}</span>
            <p>Colorway: {{ sneaker.colorway }}</p>
            <p>Year: {{ sneaker.year }}</p>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}

<h3>Nike</h3>
{% for sneaker in sneakers %}
{% if sneaker.brand == 'Nike' %}
<div class="card">
    <a href="{% url 'detail' sneaker.id %}">
        <div class="card-content">
            <span class="card-title">{{ sneaker.brand }} {{ sneaker.model }}</span>
            <p>Colorway: {{ sneaker.colorway }}</p>
            <p>Year: {{ sneaker.year }}</p>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}

{% endblock %}